[delayed_gcode DELAY_START]
gcode:
  {% set prefix = "DELAYED START: " | string %}
  {% set command = printer["gcode_macro DELAYED_START"].command | string %}
  LOG_MESSAGE LEVEL="INFO" DISPLAY=FALSE PREFIX="{prefix}" MESSAGE="Starting command: {command}"
  {command}

[delayed_gcode ENCLOSURE_FAN_TIMEOUT]
gcode:
  {% set prefix = "ENCLOSURE FAN TIMEOUT: " %}
  {% set message = "Fan Off" %}
  ENCLOSURE_FAN COMMAND="OFF"

[delayed_gcode EXTRUDER_TIMEOUT]
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder
  
[delayed_gcode HEATING_LOOP]
gcode:
  {% set macro = printer["gcode_macro START_INTERRUPTIBLE_HEAT"] %}
  {% set bed_target = printer.heater_bed.target | float%}
  {% set bed_temperature = printer.heater_bed.temperature | float %}
  {% set callback = macro.callback | string %}
  {% set extruder_target = printer.extruder.target | float %}
  {% set extruder_temperature = printer.extruder.temperature | float %}
  {% set heat_loop = macro.heat_loop | lower in ['true', 'yes', 'on', '1'] %}
  {% set loop_time = macro.loop_time | int %}
  {% set prefix = "HEATING_LOOP:" | string %}
  {% set tolerance = printer.save_variables.variables.tolerance | float %}

    
  {% if heat_loop %} # Check if targets are reached
    {% if ((bed_temperature >= (bed_target - tolerance) and bed_temperature <= (bed_target + tolerance )) or bed_target == 0) and ((extruder_temperature >= (extruder_target - tolerance) and extruder_temperature <= (extruder_target + tolerance)) or extruder_target == 0) %}
      LOG_MESSAGE LEVEL="INFO" DISPLAY=FALSE PREFIX="{prefix}" MESSAGE="Target temperatures reached! Resuming print job...Extruder temperature at {extruder_temperature} of {extruder_target}  Bed temperature at {bed_temperature} of {bed_target}"
	  SET_GCODE_VARIABLE MACRO=START_INTERRUPTIBLE_HEAT VARIABLE=heat_loop VALUE=False
      {callback}
    {% else %}  # Loop again in 10 second	  
      LOG_MESSAGE LEVEL="INFO" PREFIX="{prefix}" MESSAGE="Waiting for bed and/or extruder to heat to target.  Bed temperature at {bed_temperature} of {bed_target}  Extruder temperature at {extruder_temperature} of {extruder_target}"
      UPDATE_DELAYED_GCODE ID=HEATING_LOOP DURATION={loop_time}
    {% endif %}
  {% endif %}
  
[delayed_gcode PREHEAT_FAN_ADJUST]
gcode:
  {% set bed_target = printer.heater_bed.target | float %}
  {% set bed_now = printer.heater_bed.temperature | float %}
  {% set fan_speed_pct = printer["gcode_macro FAN_TEMPERATURE_ADJUST"].fan_speed_percentage | default(50.0) | float %}
  {% set delay = 5 | int %}
  {% set prefix = "PREHEAT FAN ADJUST:" %}
  {% set previous_fan_speed_ptc = fan_speed_pct | float %}
  {% set fan_speed_change_direction = printer["gcode_macro FAN_TEMPERATURE_ADJUST"].fan_speed_change_direction %}
  {% set fan_speed_change_increment = printer["gcode_macro FAN_TEMPERATURE_ADJUST"].fan_speed_change_increment %}

  # Only run if the bed is actually heating/heated
  {% if bed_target > 0 %}
    {% if bed_now < (bed_target - 0.9) %}
	  {% if fan_speed_change_direction < 0 %}
	    SET_GCODE_VARIABLE MACRO=FAN_TEMPERATURE_ADJUST VARIABLE=fan_speed_change_increment VALUE={fan_speed_change_increment + 1}
	  {% else %}
	    SET_GCODE_VARIABLE MACRO=FAN_TEMPERATURE_ADJUST VARIABLE=fan_speed_change_increment VALUE=1.0
	  {% endif %}	
	  SET_GCODE_VARIABLE MACRO=FAN_TEMPERATURE_ADJUST VARIABLE=fan_speed_change_direction VALUE=-1.0
    {% elif bed_now >= bed_target %}
	  {% if fan_speed_change_direction >= 0 %}
	    SET_GCODE_VARIABLE MACRO=FAN_TEMPERATURE_ADJUST VARIABLE=fan_speed_change_increment VALUE={fan_speed_change_increment + 1}
	  {% else %}
	    SET_GCODE_VARIABLE MACRO=FAN_TEMPERATURE_ADJUST VARIABLE=fan_speed_change_increment VALUE=1.0
	  {% endif %}	
	  SET_GCODE_VARIABLE MACRO=FAN_TEMPERATURE_ADJUST VARIABLE=fan_speed_change_direction VALUE=1.0
	{% else %}
	  SET_GCODE_VARIABLE MACRO=FAN_TEMPERATURE_ADJUST VARIABLE=fan_speed_change_increment VALUE=0.1
    {% endif %}
	{% set fan_speed_pct = fan_speed_pct + (fan_speed_change_increment * fan_speed_change_direction) %}
	{% set fan_speed_pct = [0, [100, fan_speed_pct]|min]|max %} ; Clamp 0-100
	{% if fan_speed_pct != previous_fan_speed_ptc %}
      M106 S{(fan_speed_pct * 2.55) | int}
      # Save and Loop
	  LOG_MESSAGE PREFIX="{prefix}" MESSAGE="Fan set to {fan_speed_pct}%"
	{% endif %}
	SET_GCODE_VARIABLE MACRO=FAN_TEMPERATURE_ADJUST VARIABLE=fan_speed_percentage VALUE={fan_speed_pct}
    {% if printer["gcode_macro FAN_TEMPERATURE_ADJUST"].fan_loop %}
      UPDATE_DELAYED_GCODE ID=PREHEAT_FAN_ADJUST DURATION={delay}
    {% else %}
      LOG_MESSAGE PREFIX="{prefix}" MESSAGE="Loop dead. Will not reschedule."
      M107  # Turn off the fans since we cancelled
    {% endif %}
  {% else %}
    LOG_MESSAGE PREFIX="{prefix}" MESSAGE="Bed Target Temperature is 0, stopping loop."
  {% endif %}
  
[delayed_gcode STEPPER_TIMEOUT]
gcode:
  {% set prefix = "STEPPER_TIMEOUT: " %}
  {% set message = "Steppers Disabled" %}
  {% if printer["gcode_macro STEPPER_TIMEOUT_START"].timeout_enabled %}
    M84
    LOG_MESSAGE DISPLAY="false" PREFIX="{prefix}" MESSAGE="{message}"
  {% else %}
    LOG_MESSAGE DISPLAY="false" PREFIX="{prefix}" MESSAGE="Timeout disabled. Will not disable steppers."
  {% endif %}
  