# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. REPROGRAMMED FOR ENDER 3 NEO To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[include gcode.cfg]
[include extended_gcode.cfg]
#[include delayed_gcode.cfg]
#[include resonance_tester.cfg]

[bed_mesh]
speed: 240
horizontal_move_z: 7
mesh_min: 1, 20
mesh_max: 205, 227
probe_count: 10, 10
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[bltouch]
sensor_pin: ^PB1
control_pin: PB0 
x_offset: -46
y_offset: -14

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[exclude_object] 

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.13 # e-steps was 34.406 but 32.473 in creality sonic pad config
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 315
max_extrude_only_distance: 500

[fan]
pin: PA0

[filament_switch_sensor filament_sensor]
switch_pin: ^!PA4
pause_on_runout: False
runout_gcode: RUNOUT_DETECT

[firmware_retraction]
retract_length: 2.50
retract_speed: 50
unretract_extra_length: 0
unretract_speed: 50

[force_move]
enable_force_move: True

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 130

[idle_timeout]
gcode:  
  SET_HEATER_TEMPERATURE HEATER=extruder

[input_shaper]
shaper_freq_x: 67.6
shaper_type_x: mzv
damping_ratio_x: 0.1
shaper_freq_y: 36.2
shaper_type_y: mzv
damping_ratio_y: 0.1

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[pause_resume] 
recover_velocity: 50

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 10
max_z_accel: 800

[respond]
default_type: command

[safe_z_home]
home_xy_position: 117.5, 117.5 # Change coordinates to the center of your print bed
speed: 240
z_hop: 10                 # Move up 10mm
z_hop_speed: 10

[save_variables]
filename: ~/printer_data/config/variables.cfg

[screws_tilt_adjust]
screw1: 41,39
screw1_name: front left screw
screw2: 185,39
screw2_name: front right screw
screw3: 185,196
screw3_name: rear right screw
screw4: 41,196
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40.1618025751073
endstop_pin: ^PA5
position_endstop: -3
position_min: -3
position_max: 258
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 39.89463497615401
endstop_pin: ^PA6
position_endstop: -7
position_min: -7
position_max: 241
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 255
position_min: -10
homing_speed: 10
second_homing_speed: 1
homing_retract_dist: 2.0

[verify_heater heater_bed]

[verify_heater extruder]
check_gain_time: 40
max_error: 240

[virtual_sdcard]
path: ~/.octoprint/uploads/

# These includes are purposely at the end to override any previous setting
#[include 60Nozzle.cfg]
[include 40Nozzle.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.003750, 0.000000, 0.045000, 0.076250, 0.127500, 0.152500, 0.168750, 0.200000, 0.225000, 0.331250
#*# 	  -0.161250, -0.131250, -0.098750, -0.043750, 0.005000, 0.057500, 0.101250, 0.165000, 0.210000, 0.325000
#*# 	  -0.031250, -0.023750, 0.010000, 0.047500, 0.126250, 0.206250, 0.205000, 0.168750, 0.202500, 0.292500
#*# 	  -0.096250, -0.081250, -0.032500, 0.015000, 0.053750, 0.101250, 0.121250, 0.170000, 0.212500, 0.315000
#*# 	  -0.210000, -0.160000, -0.090000, -0.026250, 0.062500, 0.137500, 0.185000, 0.236250, 0.291250, 0.430000
#*# 	  -0.085000, -0.072500, -0.038750, 0.000000, 0.037500, 0.077500, 0.111250, 0.161250, 0.228750, 0.348750
#*# 	  -0.066250, -0.056250, -0.005000, 0.046250, 0.100000, 0.138750, 0.172500, 0.216250, 0.272500, 0.402500
#*# 	  -0.112500, -0.077500, -0.022500, 0.043750, 0.110000, 0.167500, 0.238750, 0.316250, 0.401250, 0.546250
#*# 	  -0.015000, 0.007500, 0.041250, 0.068750, 0.100000, 0.148750, 0.188750, 0.235000, 0.288750, 0.442500
#*# 	  -0.038750, -0.013750, 0.031250, 0.040000, 0.062500, 0.442500, 0.150000, 0.211250, 0.271250, 0.402500
#*# tension = 0.2
#*# min_x = 1.0
#*# algo = bicubic
#*# y_count = 10
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 10
#*# max_y = 227.0
#*# mesh_x_pps = 2
#*# max_x = 204.94
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.606
#*# pid_ki = 1.586
#*# pid_kd = 48.855
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.993
#*# pid_ki = 1.419
#*# pid_kd = 938.871
#*#
#*# [bltouch]
